<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Github Analytics | Forks</title>

    <!-- Bootstrap -->
    <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="#">Web Trends</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home <span class="sr-only"></span></a></li>
                    <li><a href="stars">Stars</a></li>
                    <li class="active"><a href="forks">Forks</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trending <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/trending/year/2017">2017</a></li>
                            <li><a href="/trending/year/2016">2016</a></li>
                            <li><a href="/trending/year/2015">2015</a></li>
                            <li><a href="/trending/year/2014">2014</a></li>
                            <li><a href="/trending/year/2013">2013</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="page-header">
            <h1>Fork Ranking</h1>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Owner</th>
                    <th>Repository</th>
                    <th>Language</th>
                    <th>Stars</th>
                    <th>Forks</th>
                    <th>Watchers</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < item.length; i++) {%>
                    <tr>
                        <td>
                            <%= i+1 %>
                        </td>
                        <td><img class="img" src="<%= item[i].owner.avatar_url %>" alt="" height='15' width='15' />
                            <a href="<%= item[i].owner.html_url %>"
                                target=_blank>
                                <%= item[i].owner.login %>
                            </a>
                        </td>
                        <td>
                            <a href="<%= item[i].html_url %>" target=_blank>
                                <%= item[i].name %>
                            </a>
                        </td>
                        <td>
                            <%= item[i].language %>
                        </td>
                        <td>
                            <%= item[i].stargazers_count %>
                        </td>
                        <td>
                            <%= item[i].forks %>
                        </td>
                        <td>
                            <%= item[i].watchers %>
                        </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>

        <div class="page-header">
            <h1>Fork Chart</h1>
        </div>

        <div id="plot">
        </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/javascripts/forks.js"></script>
</body>

</html>