<!DOCTYPE html>
<html lang="en">

<% include ../views/partials/header %>

    <body>
        <% include ../views/partials/nav %>
            <div class="container">
                <div class="page-header">
                    <h1>Star Ranking</h1>
                </div>

                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a title="all" href="/stars/language/All">All</a></li>
                    <li role="presentation" class=""><a title="javascript" href="/stars/language/javascript">Javascript</a></li>
                    <li role="presentation" class=""><a title="html" href="/stars/language/html">HTML</a></li>
                    <li role="presentation" class=""><a title="css" href="/stars/language/css">CSS</a></li>
                    <li role="presentation" class=""><a title="java" href="/stars/language/java">Java</a></li>
                    <li role="presentation" class=""><a title="python" href="/stars/language/python">Python</a></li>
                    <li role="presentation" class=""><a title="php" href="/stars/language/php">PHP</a></li>
                    <li role="presentation" class=""><a title="c" href="/stars/language/c">C</a></li>
                    <li role="presentation" class=""><a title="c++" href="/stars/language/cpp">C++</a></li>
                    <li role="presentation" class=""><a title="ruby" href="/stars/language/ruby">Ruby</a></li>
                    <li role="presentation" class=""><a title="go" href="/stars/language/go">Go</a></li>
                    <li role="presentation" class=""><a title="r" href="/stars/language/r">R</a></li>
                    <li role="presentation" class=""><a title="sql" href="/stars/language/sql">SQL</a></li>
                </ul>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Owner</th>
                            <th>Repository</th>
                            <th>Language</th>
                            <th>Stars</th>
                            <th>Forks</th>
                            <th>Watchers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < item.length; i++) {%>
                            <tr>
                                <td>
                                    <%= i+1 %>
                                </td>
                                <td><img class="img" src="<%= item[i].owner.avatar_url %>" alt="" height='15' width='15' />
                                    <a href="<%= item[i].owner.html_url %>" target=_blank>
                                        <%= item[i].owner.login %>
                                    </a>
                                </td>
                                <td>
                                    <a href="<%= item[i].html_url %>" target=_blank>
                                        <%= item[i].name %>
                                    </a>
                                </td>
                                <td>
                                    <%= item[i].language %>
                                </td>
                                <td>
                                    <%= item[i].stargazers_count %>
                                </td>
                                <td>
                                    <%= item[i].forks %>
                                </td>
                                <td>
                                    <%= item[i].watchers %>
                                </td>
                            </tr>
                            <%}%>
                    </tbody>
                </table>

                <div class="page-header">
                    <h1>Star Chart</h1>
                </div>

                <div id="plot">
                </div>

            </div>

            <% include ../views/partials/footer %>

                <% include ../views/partials/scripts %>

                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <script src="/javascripts/stars.js"></script>
    </body>

</html>