<!DOCTYPE html>
<html lang="en">

<% include ../views/partials/header %>

    <body>
        <% include ../views/partials/nav %>
            <div class="container">
                <div class="page-header">
                    <h1>Star Ranking</h1>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Owner</th>
                            <th>Repository</th>
                            <th>Language</th>
                            <th>Stars</th>
                            <th>Forks</th>
                            <th>Watchers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < item.length; i++) {%>
                            <tr>
                                <td>
                                    <%= i+1 %>
                                </td>
                                <td><img class="img" src="<%= item[i].owner.avatar_url %>" alt="" height='15' width='15' />
                                    <a href="<%= item[i].owner.html_url %>" target=_blank>
                                        <%= item[i].owner.login %>
                                    </a>
                                </td>
                                <td>
                                    <a href="<%= item[i].html_url %>" target=_blank>
                                        <%= item[i].name %>
                                    </a>
                                </td>
                                <td>
                                    <%= item[i].language %>
                                </td>
                                <td>
                                    <%= item[i].stargazers_count %>
                                </td>
                                <td>
                                    <%= item[i].forks %>
                                </td>
                                <td>
                                    <%= item[i].watchers %>
                                </td>
                            </tr>
                            <%}%>
                    </tbody>
                </table>

                <div class="page-header">
                    <h1>Star Chart</h1>
                </div>

                <div id="plot">
                </div>

            </div>

            <% include ../views/partials/footer %>
            
            <% include ../views/partials/scripts %>

            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script src="/javascripts/stars.js"></script>
    </body>

</html>